/* Header */
.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 80px;
    background: #ffffff;
    display: flex;
    align-items: center;
    border-bottom: 1px solid #eee;
    z-index: 1000;
    box-shadow: 0 2px 8px rgba(0,0,0,0.05);

    position: relative;
}

/* 標題 */
.header h2 {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    margin: 0;
}

/* 返回按鈕 */
#backBtn {
    margin-left: 10px;
    font-size: 20px;
    background: none;
    border: none;
    cursor: pointer;
    z-index: 1; /* 避免被蓋 */
}

/* 內容往下推（避免被 header 擋住） */
.container {    
    padding: 75px 12px;
}

.suburb-btn {
    width: calc(48% - 4%);
    padding: 14px;
    font-size: 16px;
    border-radius: 12px;
    border: 1px solid #ccc;
    background: #fff;
    margin: 10px 2%;
    box-sizing: border-box;
    box-shadow: 0 4px 10px rgba(0,0,0,0.05);
    transition: 0.2s;
}

.suburb-btn:hover {
    transform: scale(1.02);
}

.suburb-text {
    font-weight: bold;
    color: #333;
    font-size: 18px;
    margin-top: 4px;
}